.navbar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  align-items: center;
  background: #1a1a1a;
  border-bottom: 1px solid #333;
}

.logo {
  color: #ff4da6;
}

.nav-right {
  display: flex;
  gap: 15px;
  align-items: center;
}

.nav-right a {
  color: white;
  text-decoration: none;
}

.username {
  color: #ff4da6;
}

.nav-right button {
  background: #ff4da6;
  border: none;
  padding: 8px 15px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}